<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>433254013121-is6108ageelfl0ust8d2a1la80bjprar.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.433254013121-is6108ageelfl0ust8d2a1la80bjprar</string>
	<key>API_KEY</key>
	<string>AIzaSyC4owQD4CS3XkPBC-VDUrzt-5Cvzh1arII</string>
	<key>GCM_SENDER_ID</key>
	<string>433254013121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cnw.demoAds</string>
	<key>PROJECT_ID</key>
	<string>cnws-cc81b</string>
	<key>STORAGE_BUCKET</key>
	<string>cnws-cc81b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:433254013121:ios:394a577467bda650</string>
	<key>DATABASE_URL</key>
	<string>https://cnws-cc81b.firebaseio.com</string>
</dict>
</plist>